{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Airfare Spreadsheet Utility{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">

    <label for="startfle">Upload Airfare File</label>
    <input type="file", name="startfile" id="startfile" accept=".csv" required>

    <label for="aliases">Upload Alias File --temporary feature</label>
    <input type="file", name="aliases" id="aliases" accept=".csv" required>

    <label for="origination">Enter the name of the column containing origination flights</label>
    <input name="origination" id="origination" required>

    <label for="destination">Enter the name of the column containing destination flights </label>
    <input name="destination" id="destination" required>

    <input type="submit" value="Submit">
  </form>
{% endblock %}